.quantidade-controle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.quantidade-controle button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

.resumo-carrinho {
  margin-top: 30px;
  text-align: right;
}
